<section x-show="activeSection === 'TELECHARGEMENTS'" class="p-6 bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 rounded-lg shadow-lg transition">
    <h2 class="text-xl font-semibold mb-4">LISTE LES TELECHARGEMENTS</h2>
   

   

    <!-- Liste des utilisateurs -->
    <h2 class="mt-5 text-lg font-medium">Liste des Telechargements</h2>
    <div class="overflow-x-auto mt-4">
        <table class="min-w-full border-collapse border border-gray-300 dark:border-gray-700">
            <thead>
                <tr class="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300">
                    <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">ID</th>
                    <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">EMAIL</th>
                    <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">MEMOIRE TELECHARGER</th>
                    <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">DATE</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for users in telechargement %}
              
                 <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">{{ users.id }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">{{ users.emailt}}</td>
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">{{ users.memoire.titre}}</td>
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">{{ users.datet }}</td>
                </tr>

                
              
               
              
                {% endfor %}
            </tbody>
        </table>
    </div>

    
</section>