<section x-show="activeSection === 'univers'" class="p-6 border border-gray-700 dark:border-gray-600 rounded-lg shadow-lg transition max-w-4xl mx-auto mt-8">
     
    <h2 class="text-xl font-semibold mb-4"> LISTE DES UNIVERSITES</h2>
    

    <!-- Bouton pour ajouter un mémoire -->
    <button type="button" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow transition focus:outline-none" data-bs-toggle="modal" data-bs-target="#adduniversityModal">
        Ajouter une universite
    </button>

    <!-- Search and Filter Section for Mémoires -->
<div class="mt-4">
    <input type="text" id="universitySearchInput" placeholder="Recherche globale..." class="px-4 py-2 border rounded-md" onkeyup="searchTable('universityTable', 'universitySearchInput')">
<button onclick="clearFilters('universityTable', 'universitySearchInput')" class="px-4 py-2 bg-gray-500 text-white rounded-md">Effacer filtres</button>
</div>

<!-- Mémoires Table -->
<div class="overflow-x-auto mt-4">
    <table id="universityTable" class="min-w-full border-collapse border border-gray-300 dark:border-gray-700">
        <thead>
            <tr class="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300">
                <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">ID</th>
                <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">NOM</th>
                <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">ACORNYME</th>
                <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">SLOGAN</th>
                <th class="border border-gray-300 dark:border-gray-700 px-4 py-2">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for university in universites %}
                <tr >
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">{{ university.id }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">{{ university.name }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">{{ university.acronime }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">{{ university.slogan }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 px-4 py-2">
                        <button class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded-md shadow transition focus:outline-none" onclick="deleteuniversity({{ university.id }})">
                            Supprimer
                        </button>
                        <button type="button" class="px-4 py-2 bg-yellow-500 hover:bg-yellow-600 text-white rounded-md shadow transition focus:outline-none" 
                            data-bs-toggle="modal" 
                            data-bs-target="#edituniversityModal"
                            data-id="{{ university.id }}"
                            data-nom="{{ university.name }}"
                            data-acronime="{{ university.acronime }}"
                            data-slogan="{{ university.slogan }}"
                            data-description="{{ university.description }}"
                            data-lien="{{ university.university_link}}"
                            data-logo="{{ university.logo }}">
                            Modifier
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


   <!-- Modal pour modifier un mémoire -->
<div class="modal fade" id="edituniversityModal" tabindex="-1" aria-labelledby="edituniversityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content dark:bg-gray-800 dark:text-gray-100">
            <div class="modal-header">
                <h5 class="modal-title" id="edituniversityModalLabel">Modifier l'universite</h5>
                <button type="button" class="btn-close dark:bg-gray-700 dark:hover:bg-gray-600" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="myForm" id="edituniversityForm" action="{% url 'edit_university' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="university_id" name="university_id">
                    
           <!-- Champ NOM -->
           <div class="mb-3">
            <label for="nom" class="form-label">NOM</label>
            <input type="text" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="nom" name="nom" required>
        </div>
        
        <!-- Champ ACRONIME -->
        <div class="mb-3">
            <label for="acronime" class="form-label">ACRONYME</label>
            <input type="text" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="acronime" name="acronime" required>
        </div>
        <div class="mb-3">
            <label for="slogan" class="form-label">Slogan</label>
            <input type="text" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="slogan" name="slogan">
        </div>
        <!-- Champ DESCRIPTION -->
        <div class="mb-3">
            <label for="description" class="form-label">DESCRIPTION</label>
            <textarea class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" value="{{ university.description|default:'' }}"  id="description" name="description" required></textarea>
        </div>
        
        <!-- Champ LOGO -->
        <div class="mb-3">
            <label for="logo" class="form-label">LOGO</label>
            <input type="file" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="logo" name="logo">
        </div>
        
        <!-- Champ LIEN -->
        <div class="mb-3">
            <label for="lien" class="form-label">Lien</label>
            <input type="url" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="lien" name="lien">
        </div>
       
                   
                    
                    <!-- Bouton de soumission -->
                    <button type="submit" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow transition focus:outline-none">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal pour ajouter une université -->
<div class="modal fade" id="adduniversityModal" tabindex="-1" aria-labelledby="adduniversityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content dark:bg-gray-800 dark:text-gray-100">
            <div class="modal-header">
                <h5 class="modal-title" id="adduniversityModalLabel">Ajouter une Université</h5>
                <button type="button" class="btn-close dark:bg-gray-700 dark:hover:bg-gray-600" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="myForm" id="adduniversityForm" enctype="multipart/form-data" action="{% url 'add_university' %}" method="POST">
                    {% csrf_token %}
                    
                    <!-- Champ NOM -->
                    <div class="mb-3">
                        <label for="nom" class="form-label">NOM</label>
                        <input type="text" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="nom" name="nom" required>
                    </div>
                    
                    <!-- Champ ACRONIME -->
                    <div class="mb-3">
                        <label for="acronime" class="form-label">ACRONYME</label>
                        <input type="text" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="acronime" name="acronime" required>
                    </div>
                    <div class="mb-3">
                        <label for="slogan" class="form-label">Slogan</label>
                        <input type="text" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="slogan" name="slogan">
                    </div>
                    <!-- Champ DESCRIPTION -->
                    <div class="mb-3">
                        <label for="description" class="form-label">DESCRIPTION</label>
                        <textarea class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="description" name="description" required></textarea>
                    </div>
                    
                    <!-- Champ LOGO -->
                    <div class="mb-3">
                        <label for="logo" class="form-label">LOGO</label>
                        <input type="file" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="logo" name="logo">
                    </div>
                    
                    <!-- Champ LIEN -->
                    <div class="mb-3">
                        <label for="lien" class="form-label">Lien</label>
                        <input type="url" class="form-control bg-gray-100 dark:bg-gray-700 dark:text-gray-300" id="lien" name="lien">
                    </div>
                   
                   
                    <!-- Bouton de soumission -->
                    <button type="submit" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow transition focus:outline-none">
                        Ajouter
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="ou" style="display:none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); z-index: 9999;"></div>

<!-- Infobulle -->
<div id="tou" class="tooltip" style="display:none; position: fixed; top: 20%; left: 50%; transform: translateX(-50%); padding: 10px 20px; background-color: #4CAF50; color: white; border-radius: 5px; z-index: 10000;">
    <span id="meso"></span>
    <button onclick="closeTooltip('ou','tou')">Fermer</button>
</div>
</section>

